:root {
  color-scheme: light dark;
  --background-gradient: linear-gradient(
    transparent -50vw,
    light-dark(white, black) 64vw
  );
}
html {
  min-height: 100vh;
}
body {
  background-color: light-dark(white, black);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.25rem;
  margin: 1rem;
  transition: background-image 1s ease-out;
}
.pattern {
  --size: 150px;
  --c1: light-dark(#ddd, #222);
  --c2: light-dark(#eee, #111);
  --gradient: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%,
    var(--c2) 26% 35%, var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%,
    var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background:
    radial-gradient(50% 50% at 100% 0, var(--gradient)),
    radial-gradient(50% 50% at 0 100%, var(--gradient)),
    radial-gradient(50% 50%, var(--gradient)),
    radial-gradient(50% 50%, var(--gradient)) calc(var(--size) / 2)
      calc(var(--size) / 2) var(--c1);
  background-size: var(--size) var(--size);
}
header {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 512px) {
  header {
    margin-top: 3rem;
  }
}
h1 {
  font-size: max(5vw, 3rem);
  margin-bottom: 0.5rem;
}
h2 {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5 {
  color: white;
  mix-blend-mode: difference;
}
h3 {
  margin-bottom: 0.25rem;
}
h4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
h5 {
  margin-top: 0.25rem;
}
a {
  color: var(--foreground);
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
main {
  max-width: 720px;
  margin: auto;
}
main.wide {
  max-width: 1024px;
}
ul {
  display: grid;
  grid-gap: 1rem;
  list-style: none;
  padding-left: 0;
}
@media (min-width: 512px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
li {
  background-color: light-dark(#fffa, #000a);
  background-blend-mode: color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.125rem solid light-dark(black, white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-height: 10rem;
}
li p {
  margin: 0;
}
li p:last-child {
  flex-grow: 1;
  gap: 0.5rem;
  display: flex;
  align-items: end;
}
.icons span {
  font-size: 1.5rem;
  text-shadow: 0 0 1rem var(--background);
}
[title] {
  cursor: help;
}
